<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

## In this notebook , Data Science Tools and Ecosystem are summarized .

### Some of the popular languages that Data Scientists use are:
1. Python
2.  R
3. SQL

### Some of the commonly used libraries used by Data Scientist include : 
1. Pandas
2. Numpy
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| Spyder             |
| Vs Code            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
a = 7+(6*3)-18
print(a)

7

In [2]:
a = (3*4)+5
# This a simple arithmetic expression to mutiply then add integers.
print(a)

17

In [5]:
Minutes = 200
divisor = 60
# This will convert 200 minutes to hours by diving by 60.
print(Minutes / divisor)

3.3333333333333335

## **Objectives**

- Python
- SQL
- Java
- R

## Author
Jitendra Tulswani